<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&family=Lato:wght@400;700;900&family=Source+Sans+Pro:wght@400;600&display=swap"
  rel="stylesheet"
/>

<h1>About our Shelter</h1>
<section class="opis">
  <div class="wstep">
    Our Shelter was estabilished in 1990 by Charlie Chinchill, by our Founder
    who decided to make lives of smaller and weaker creatures better. He's
    always had the love and affection for chinchillas, which weren't a popular
    pet choice. Since then we've been searching for all those lost, tiny souls
    while also trying to find them a warm and loving home. We hope to make this
    world a better place for our tiny friends. That's how we became the largest
    shelter for chinchillas in the whole country.
  </div>

  <div class="continue">
    Since it's become our mission, we've found homes for over 4000 chinchillas.
    Every week we get at least one new chinchilla to care for, which isn't a
    lot, unless nobody wants to adopt them. That's why our mission is so
    important. We hope we've conveyed our wholehearted feelings and purpose of
    our organisation.
  </div>
</section>
