

h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.07rem;
  text-decoration: underline;
  margin-top: 0px;
  padding-top: 50px;
}

.opis {
  margin: 0px 60px 0px 60px;
  text-justify:inter-word;
  text-indent: 50px;
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5rem;

  .continue {
  margin-top: 20px;
}
}

