.chinchilla {
  text-overflow: ellipsis;
  max-width: 400px;
  text-align: center;
  margin: 20px;
  font-family: "Source Sans Pro", sans-serif;
  border-style: dotted;
  border-radius: 10px;
  font-size: 18px;
  background-color: #fffbe9;
  user-select: none;
  align-items: center;
  align-content: center;

  img {
    width: 400px;
    height: auto;
    max-height: 300px;
    border-radius: 8px 8px 0px 0px;
  }

  img:hover {
    filter: brightness(120%);
  }

  .chinchilla_name {
    margin: 10px 0px 15px 0px;
  }

  .chinchilla_name:hover {
    text-decoration: underline;
    cursor: help;
  }
}
