<div class="filter">
  <div class="main">
    <div class="class_image">
      <img src="{{ chinchilla.image }}" />
    </div>
    <div class="lower">
      <div class="class_name txt">Name: &nbsp; {{ chinchilla.name }}</div>
      <div class="class_color txt">Color: &nbsp; {{ chinchilla.color }}</div>
      <div class="class_age txt">Age: &nbsp; {{ chinchilla.age }}</div>
      <div class="class_favorite txt">
        Favorite thing: &nbsp; {{ chinchilla.favorite_thing }}
      </div>
    </div>
  </div>
</div>
